/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight);
  background: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  padding-top: 102px;
}

.header-content {
  width: var(--content-width);
  height: 364px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.header-logo {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  margin: 0 0 23px 0;
  color: var(--accent-color);
}

.header-tagline {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 1;
  margin: 0;
  color: var(--accent-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  width: 100%;
  margin-top: 102px;
  margin-bottom: 100px;
}

.card {
  width: var(--content-width);
}

.card__title {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding: 5px 10px;
  min-height: 31px;
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--title-font-weight);
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.card__image-container {
  position: relative;
  border-left: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.card__image1 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
}

.card__image2 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  filter: saturate(0.25);
}

.card__image3 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  filter: brightness(200%) saturate(160%);
}

.card__image4 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  filter: hue-rotate(20deg);
}

.card__image5 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  filter: invert() contrast(0.6);
}

.card__image6 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  filter: sepia(110%);
}

.card__image7 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  filter: blur(1rem);
}

.card__image8 {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  filter: blur(0.15rem) hue-rotate(80deg) sepia(40%) contrast(0.9) saturate(110%);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__label {
  text-shadow: 
    1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

.card__content {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  padding: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 27px 0;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.card__text:last-child {
  margin-bottom: 0;
}

.card__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-top: 25px;
}

.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  height: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: none;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  min-inline-size: 130px;
  padding: 9px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__like-button:focus,
.save-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button::before,
.save-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.save-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--button-text-color);
}

.floppy-icon {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.save-button {
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: none;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  margin-block-end: 100px;
  padding: 15px 20px;
  min-inline-size: 340px;
}

.save-dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-inline-size: 357px;
  padding: 30px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.save-dialog[open]::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.save-dialog .floppy-icon {
  width: 39px;
  height: 39px;
}

.dialog__button {
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  padding: 10px 20px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.dialog__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.dialog__button:hover::before {
  transform: scaleX(1);
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

@media (width <= 375px) {
  .card__label {
    top: 23px;
    right: 11px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .save-dialog[open] {
    max-inline-size: 341px;
    padding-inline: 40px;
  }
}