/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background: 
    var(--gradient-repeating),
    var(--gradient-linear);
  background-size: cover;
  background-attachment: fixed;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 136px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  width: var(--content-width);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 100px auto 0;
  width: var(--content-width);
}

.like-icon{
  width: 100px;
  height: 100px;
}


