/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background: 
    var(--gradient-repeating),
    var(--gradient-linear);
  background-size: cover;
  background-attachment: fixed;

}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-block: 136px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  width: var(--content-width);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin: 100px auto 0;
  width: var(--content-width);
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  width: 100%;
}

.card-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--title-font-weight);
  padding-inline: 10px;
  padding-block: 3px;
  border-bottom: 2px solid var(--accent-color);
}

.card-image {
  position: relative;
}

.card-image-label {
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color), 1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
}

.card-image-content {
  display: block;
  width: 100%;
  height: 696px;
  object-fit: cover;
  object-position: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px 25px 0;
  gap: 2px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible:not(.card-icon-button) {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  outline: none;
}

.card-icon-button {
  display: flex;
  align-self: center;
  max-block-size: 38px;
  background-color: var(--bg-color);
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card-icon-button::before {
  content: none;
}

.card-icon-button:focus {
  outline: none;
}

.card-icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card-like-button {
  min-height: 38px;
  min-width: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 21px;
}

.button__save {
  gap: 8px;
  padding: 15px;
  min-width: 335px;
  min-height: 51px;
}

.floppy {
  width: 21px;
  height: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, auto);
  row-gap: 30px;
  column-gap: 20px;
  max-inline-size: 357px;
  padding: 30px;
  background: var(--bg-color);
  border: 2px solid var(--accent-color);
  position: fixed;
  inset: 0;
  margin: auto;
}



.like-icon{
  width: 100px;
  height: 100px;
}


