/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Шрифты */
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  
  /* Веса шрифтов */
  --main-font-weight: 400;
  --title-font-weight: 700;
  
  /* Цвета */
  --bg-color: #fff;
  --accent-color: #000000;
  --contour-color: #000000;
  --animation-fill-color: #FF0000;
  --button-text-color: #fff;
  --shadow-color: #000000;
  --active-heart: #ff0000;
  --icon-main: currentColor;
  
  /* Ширины */
  --content-width: clamp(371px, 50%, 696px);
  
  /* Градиенты для фона */
  --bg-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
}

.page {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-font-weight);
}